name: Tests

on:
  push:
    branches:
      - next
  pull_request:
    branches:
      - '*'

env:
  CI: true

jobs:
  test:
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest]
        node-version: [10.x, 12.x, 14.x]

    runs-on: ${{ matrix.os }}

    steps:
      - uses: actions/checkout@v2

      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v1
        with:
          node-version: ${{ matrix.node-version }}

      - name: Install
        run: npm ci
      
      - name: Run tests
        run: npm run test:ci

      - name: Coverage report
        uses: codecov/codecov-action@v1
